<h1>Notebooks</h1>
<div id="field">
<table>
  <tr>
  	<style type="text/css">
		#field {margin-left:800px; margin-top:90px;}
	</style>
    <th>Model</th>
    <th>Serial Number</th>
    <th>Warranty Till</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @notebooks.each do |notebook| %>
  <tr>
    <td><%= notebook.model %></td>
    <td><%= notebook.serial_number %></td>
    <td><%= notebook.warranty_till %></td>
  </tr>
<% end %>
</table>
</div>
