<% #  | # COPYRIGHT HEADER START # 
# |   InventarTool - Web Application to manage hardware and components inventory
# |   Copyright (C) 2011  Puzzle ITC GmbH www.puzzle.ch
# |   
# |   This program is free software: you can redistribute it and/or modify
# |   it under the terms of the GNU Affero General Public License as
# |   published by the Free Software Foundation, either version 3 of the
# |   License, or (at your option) any later version.
# |   
# |   This program is distributed in the hope that it will be useful,
# |   but WITHOUT ANY WARRANTY; without even the implied warranty of
# |   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# |   GNU Affero General Public License for more details.
# |   
# |   You should have received a copy of the GNU Affero General Public License
# |   along with this program.  If not, see <http://www.gnu.org/licenses/>.
# | # COPYRIGHT HEADER END # 
 %> 

<h3><%=pluralize(@entry.notebooks.count, "notebook")%> used</h3>
<ul>
<% @entry.notebooks.each do |n| %>
<li><%= link_to "#{n.model} #{n.serial_number}", notebooks_path(n.id) %> | <%= link_action 'unuse', 'delete', url_options = {:controller => 'notebooks', :id => n.id, :action => 'unuse'}, :confirm => "Are you sure?" %></li>
<% end %>
</ul>
<%= link_action 'Add notebook', 'add', notebooks_path %>