<h3><%=pluralize(@entry.disks.count, "disk")%> attached</h3>
<ul>
<% @entry.disks.each do |d| %>
<li><%= link_to "#{d.model} #{d.capacity}GB", disk_path(d.id) %> | <%= link_action 'detach', 'delete', url_options = {:controller => 'disks', :id => d.id, :action => 'detach'}, :confirm => "Are you sure?" %></li>
<% end %>
</ul>
<%= link_action 'Add disk', 'add', disks_path %>