table.version { 
	width:100%;
	border: 2px solid black;
	border-collapse: collapse;
}
table.version td { 
	border:1px solid black; 
	vertical-align:top; 
	overflow:hidden; 
}
table.version td.key {
	width:120px
}
